<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620057402288-47t81734h2pkj0a5ddb4nt2ee3mtpnn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620057402288-47t81734h2pkj0a5ddb4nt2ee3mtpnn3</string>
	<key>API_KEY</key>
	<string>AIzaSyCQpzHz1BxbOIuZb2vpZYUPgT9DgyLE158</string>
	<key>GCM_SENDER_ID</key>
	<string>620057402288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spiceytest.flutterfirebasecourse</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasecourse-d6cca</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasecourse-d6cca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620057402288:ios:5fea88324be3d7e0151475</string>
	<key>DATABASE_URL</key>
	<string>https://flutterfirebasecourse-d6cca.firebaseio.com</string>
</dict>
</plist>